<div class="col-sm-3">
              <div class="card">
                <div class="card-header">
                  <h4 class="text-success content-header">Order Summary</h4>
                  <table class="table">
                    <tbody>
                      <tr>
                        <td>SD WAN Basic</td>
                        <td>$ 800</td>
                      </tr>
                      <tr>
                        <td>SD WAN Premium</td>
                        <td>$ 700</td>
                      </tr>
                    </tbody>
                  </table>
                  <div class="billing-summary">
                    <div class="row">
                    <div class="col-sm-12">
                      <h4 class="currency">Total: $ 1500 <small>/ mo</small></h4>
                    </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-sm-12"><a class="text-success" href="#">View Details...</a></div>
                  </div>
                </div>              
              </div>
            </div>