<nav class="navbar navbar-inverse navbar-static-top">
	<div class="container-fluid">
		<!-- Brand and toggle get grouped for better mobile display -->
		<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed" aria-expanded="true">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
			<a class="navbar-brand" [routerLink]="['/home']">
				<img src="../../assets/img/logo-centurylink.png" alt="CenturyLink">
			</a>
		</div>

		<!-- Support and sign out links -->
		<div class="collapse navbar-collapse" aria-expanded="true">
			<ul class="nav navbar-nav navbar-right navbar-account">
				<li *ngIf="(user | async)?.loggedIn === false" >
					<a [routerLink]="['/login']" role="button" aria-expanded="false">
						<svg class="cyclops-icon support">
							<use xlink:href="#icon-migrate"></use>
						</svg> Log In</a>
				</li>
			<!--	<li *ngIf="(user | async)?.loggedIn === true" (click)="logout()">
					<a href="#" role="button" aria-expanded="false">
						<svg class="cyclops-icon support">
							<use xlink:href="#icon-user"></use>
						</svg> Log Out</a>
				</li> -->
				<li *ngIf="(user | async)?.loggedIn === false">
					<a href="#" role="button" aria-expanded="false">
						<svg class="cyclops-icon support">
							<use xlink:href="#icon-plus-circle"></use>
						</svg> Sign up</a>
				</li>
				<li class="dropdown" [style.display]="(user | async)?.loggedIn === false? 'none':'list-item'">
  					<a href="#" role="button">{{ (user | async)?.email }} <svg class="cyclops-icon" aria-hidden="true" *ngIf="(user | async)?.loggedIn === true"><use xlink:href='#icon-caret-down' /></svg></a>
  					<ul id="NavDropdown" class="dropdown-menu user-profile dropdown-menu-right">
  						<li><a [routerLink]="['/user-profile']">Your Profile</a></li>
						<li><button (click)="logout()">Sign Out</button></li>
  					</ul>
  				</li>
				<li class="dropdown">
					<a href="#" role="button" aria-expanded="false">
						<span *ngIf="(cart | async)?.lineItems.length > 0">{{(cart | async)?.lineItems.length}}</span>
						<svg class="cyclops-icon support"><use xlink:href="#icon-shopping-cart"></use></svg> </a>
						<ul *ngIf="(cart | async)?.lineItems.length === 0" id="NavDropdown" class="dropdown-menu dropdown-menu-right">
							<h4 id="ShoppingCart" class="text-success"><svg class="cyclops-icon md" aria-hidden="true"><use xlink:href='#icon-shopping-cart' /></svg> Shopping Cart</h4>
							<div class="new-list-view-responsive new-list-view-responsive-sm">
								<div class="card">
										<div id="CardFooter" class="card-footer">
											<div class="row">Shopping Cart is empty.</div>
										</div>
								</div>
							</div>
						</ul>
					<ul *ngIf="(cart | async)?.lineItems.length > 0" id="NavDropdown" class="dropdown-menu dropdown-menu-right">
						<h4 id="ShoppingCart" class="text-success"><svg class="cyclops-icon md" aria-hidden="true"><use xlink:href='#icon-shopping-cart' /></svg> Shopping Cart</h4>
						<div class="new-list-view-responsive new-list-view-responsive-sm">
							<div id="Description" class="new-list-view-header ">
								<h3 class="col col-25 color">Product</h3>
								<h3 class="col col-15 color">Term</h3>
								<h3 class="col col-25 color">Number of Locations</h3>
								<h3 class="col col-20 color">Unit Price</h3>
								<h3 class="col col-15 color">Total</h3>
								<!--h3 class="col col-20 color">Action</h3-->
							</div>
							<ul class="new-list-view">
								<li *ngFor="let product of (cart | async)?.lineItems;let i = index">
								<div id="List1" class="list-view-item" >
									<div class="col col-25 color"><span class="col-header">Product</span>{{product.productTemplateName}}</div>
									<div class="col col-15"><span class="col-header">Term</span>{{product?.term}}</div>
									<div class="col col-25"><span class="col-header">Number of Locations</span>{{product?.locations?.length}}</div>
									<div class="col col-20"><span class="col-header">Unit Price</span>{{product.unitPrice | currency:'USD':true:'3.0-0'}}</div>
									<div class="col col-15">
										<span class="col-header">
										Total</span>
										{{product?.locations?.length === 0 ? 0 : product?.locations?.length * product.unitPrice | currency:'USD':true:'3.0-0'}}</div>
									<!--div class="col col-20"><span class="col-header">Action</span>
									<img src="../../assets/img/Edit.png" height="24px" width="24px"  alt="Edit"--> 
									<!--svg class="cyclops-icon md" aria-hidden="true"><use xlink:href='#icon-check' />{{getTotalPrice(product.locations.length * product.unitPrice)}}</svg-->
									<!--svg class="cyclops-icon md" aria-hidden="true"><use xlink:href='#icon-times' /></svg>
									</div-->
								</div>
								</li>
 								<li> 
								<div class="card">
									<div id="CardFooter" class="card-footer">
									<div class="row">
									<div  class="col-xs-6"><h4 id="Total">Total:</h4 ></div>
									<div  class="col-sm-6 text-right"><h4 id="Dollar">{{getTotalPrice() === 0 ? getTotalPrice() : getTotalPrice() | currency:'USD':true:'3.0-0'}}</h4></div>
									</div>
									</div>
								</div>
								</li>
								<li>
								<div id="ViewDetails" class="col-sm-12" *ngIf="(cart | async)?.lineItems.length > 0">
									<u><a (click)="summaryRoute()" class="pointer-mouse">View Details...</a></u>
								</div>
								</li>
							</ul>
						</div>
					</ul>
            	</li>
			</ul>
		</div>
		<!-- /.navbar-collapse -->
	</div>
	<!-- /.container-fluid -->
</nav>